<!DOCTYPE html>
<html>
    <head>
        <title>DnD Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Welcome to my DnD Site!</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                    <li><a href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            <div class="content">
                <form action="/char_update/" method="POST">
                        {% for character in entry %}
                        Character Name: <input type="text" size="20" name="char_name" value="{{ character.char_name }}">
                        Class: <input type="text" size="20" name="char_class" value="{{ character.char_class }}">
                        Level: <input type="number" min="1" value="{{ character.char_lvl }}" name="char_lvl"><br>
                        Alignment: <input type="radio" name="alignment" value="Lawful Good">
                        <input type="radio" name="alignment" value="Neutral Good">Neutral Good
                        <input type="radio" name="alignment" value="Chaotic Good">Chaotic Good
                        <input type="radio" name="alignment" value="Lawful Neutral">Lawful Neutral
                        <input type="radio" name="alignment" value="Neutral">Neutral
                        <input type="radio" name="alignment" value="Chaotic Neutral">Chaotic Neutral
                        <input type="radio" name="alignment" value="Lawful Evil">Lawful Evil
                        <input type="radio" name="alignment" value="Neutral Evil">Neutral Evil
                        <input type="radio" name="alignment" value="Chaotic Evil">Chaotic Evil <a href="{{ url_for('alignment_details') }}" target="_blank">More Details on Alignments</a><br>
                        Health: <input name="curr_health" type="number" min="0" value="{{ character.curr_health }}"> / <input name="max_health" type="number" value="{{ character.max_health }}">
                        Armor: <input name="char_armor" type="number" min="0" value="{{ character.char_armor }}"></input>
                        Strength: <input name="char_str" type="number" value="{{ character.char_str }}" min="1" max="30"></input>
                        Dexterity: <input name="char_dex" type="number" value="{{ character.char_dex }}" min="1" max="30"></input>
                        Constitution: <input name="char_const" type="number" value="{{ character.char_const }}" min="1" max="30"></input>
                        Intelligence: <input name="char_intel" type="number" value="{{ character.char_intel }}" min="1" max="30"></input>
                        Wisdom: <input name="char_wisdom"type="number" value="{{ character.char_wisdom }}" min="1" max="30"></input>
                        Charisma: <input name="char_charisma"type="number" value="{{ character.char_charisma }}" min="1" max="30"></input>
                        Perception: <input name="char_perception" type="number" value="{{ character.char_perception }}" min="1" max="30"></input><br>
                        <textarea name="char_weapons" rows="10" cols="10">{{ character.char_weapons }}</textarea>
                        <textarea name="char_inv" rows="10" cols="10">{{ character.char_inv }}</textarea>
                        <textarea name="char_skills" rows="10" cols="10">{{ character.char_skills }}</textarea>
                        <input type="submit" value="Update">
                        {% endfor %}
                    </form>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
