<!DOCTYPE html>
<html>
    <head>
        <title>DnD Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Welcome to my DnD Site!</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                    <li><a href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li>Logged in as:  {{ session['username'] }}</li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            <div class="content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% if session.logged_in %}
                    <form action="{{ url_for('create') }}" method="POST">
                        <input type="hidden" name="author" value="{{ session['username'] }}">
                        Character Name: <input type="text" size="20" name="char_name" value="Name">
                        Class: <input type="text" size="20" name="char_class" value="Basic">
                        Level: <input type="number" min="1" value="1" name="char_lvl"><br>
                        Alignment: <input type="radio" name="alignment" value="Lawful Good">Lawful Good
                        <input type="radio" name="alignment" id="Neutral Good" value="Neutral Good">Neutral Good
                        <input type="radio" name="alignment" id="Chaotic Good" value="Chaotic Good">Chaotic Good
                        <input type="radio" name="alignment" id="Lawful Neutral" value="Lawful Neutral">Lawful Neutral
                        <input type="radio" name="alignment" id="Neutral" value="Neutral">Neutral
                        <input type="radio" name="alignment" id="Chaotic Neutral" value="Chaotic Neutral">Chaotic Neutral
                        <input type="radio" name="alignment" id="Lawful Evil" value="Lawful Evil">Lawful Evil
                        <input type="radio" name="alignment" id="Neutral Evil" value="Neutral Evil">Neutral Evil
                        <input type="radio" name="alignment" id="Chaotic Evil" value="Chaotic Evil">Chaotic Evil 
                        <a href="{{ url_for('alignment_details') }}" target="_blank">More Details on Alignments</a><br>
                        <script>
                            document.getElementById("Neutral").checked = true;
                        </script>
                        Health: <input name="curr_health" type="number" min="0" value="50"> / <input name="max_health" type="number" value="50">
                        Armor: <input name="char_armor" type="number" min="0" value="0"></input>
                        Strength: <input name="char_str" type="number" value="11" min="1" max="30"></input>
                        Dexterity: <input name="char_dex" type="number" value="11" min="1" max="30"></input>
                        Constitution: <input name="char_const" type="number" value="11" min="1" max="30"></input>
                        Intelligence: <input name="char_intel" type="number" value="11" min="1" max="30"></input>
                        Wisdom: <input name="char_wisdom"type="number" value="11" min="1" max="30"></input>
                        Charisma: <input name="char_charisma"type="number" value="11" min="1" max="30"></input>
                        Perception: <input name="char_perception" type="number" value="11" min="1" max="30"></input><br>
                        <textarea name="char_weapons" rows="10" cols="10">Type weapons and modifiers here.</textarea>
                        <textarea name="char_inv" rows="10" cols="10">Type anything you have in your inventory here.</textarea>
                        <textarea name="char_skills" rows="10" cols="10">Type all of your character's skills here.</textarea>
                        <textarea name="char_notes" rows="10" cols="10">Type any notes you would like here.</textarea>
                        <input type="submit" value="Create">
                    </form>
                    <a href="/init_db/">Clear Characters</a>
                {% endif %}
                <ol class="char_list">
                    <h2>Your Character List</h2>
                    {% for character in entries %}
                    <li>Character Name: {{ character.char_name }}
                        Class: {{ character.char_class }}
                        Level: {{ character.char_lvl }}
                        Alignment: {{ character.alignment }}<br>
                        Health: {{ character.curr_health }} / {{ character.max_health }}
                        Armor: {{ character.char_armor }}<br>
                        Strength: {{ character.char_str }}
                        Dexterity: {{ character.char_dex }}
                        Constitution: {{ character.char_const }}
                        Intelligence: {{ character.char_intel }}
                        Wisdom: {{ character.char_wisdom }}
                        Charisma: {{ character.char_charisma }}
                        Perception: {{ character.char_perception }}<br>
                        Weapons: {{ character.char_weapons }}<br>
                        Inventory: {{ character.char_inv }}<br>
                        Notes: {{ character.char_notes }}<br>
                        Skills: {{ character.char_skills }}<br>
                        <form name="view_char" action="/view_char" method="POST">
                            <input type="hidden" name="to_view" value="{{ character.char_name }}">
                            <input type="submit" value="View">
                        </form>
                        <form name="update_char" action="/update_char" method="POST">
                            <input type="hidden" name="to_update" value="{{ character.char_name }}">
                            <input type="submit" value="Update">
                        </form>
                        <form name="delete_char" action="/delete_char/" method="POST">
                            <input type="hidden" name="to_delete" value="{{ character.char_name }}">
                            <input type="submit" value="Delete">
                        </form>
                    </li>
                    <h2>End Character</h2>
                    {% else %}
                        <li>No characters available</li>
                    {% endfor %}
                </ol>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
