<!DOCTYPE html>
<html>
    <head>
        <title>DnD Site</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Welcome to my DnD Site!</h2>
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('create_char') }}">Create Character</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('char_list') }}">My Character Sheets</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('game_list') }}">My Game</a></li>
                    {% if not session.logged_in %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link disabled">Logged in as: {{ session['username'] }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="content">
                {% with messages = get_flashed_messages() %}
                {% if messages %}
                <div class="alert alert-info" role="alert">
                    {% for message in messages %}
                    {{ message }}
                    {% endfor %}
                </div>
                {% endif %}
                {% endwith %}
                <form action="{{ url_for('update') }}" method="POST">
                {% for character in entry %}
                    <input type="hidden" name="author" value="{{ session['username'] }}">
                    <div class="form-row">
                        <div class="form-group col-md-5">
                            <label>Character Name</label>
                            <input type="text" class="form-control" name="to_update" value="{{ character.char_name }}" readonly>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Race</label>
                            <select class="form-control" name="char_race" id="char_race">
                                <option value="Dwarf">Dwarf</option>
                                <option value="" disabled>----</option>
                                <option value="Hill Dwarf">Hill Dwarf</option>
                                <option value="Mountain Dwarf">Mountain Dwarf</option>
                                <option value="" disabled>----</option>
                                <option value="Elf">Elf</option>
                                <option value="" disabled>----</option>
                                <option value="High Elf">High Elf</option>
                                <option value="Wood Elf">Wood Elf</option>
                                <option value="DarkElf">Dark Elf</option>
                                <option value="" disabled>----</option>
                                <option value="Halfling">Halfling</option>
                                <option value="" disabled>----</option>
                                <option value="Lightfoot">Lightfoot</option>
                                <option value="Stout">Stout</option>
                                <option value="" disabled>----</option>
                                <option selected value="Human">Human</option>
                                <option value="" disabled>----</option>
                                <option value="Calishite">Calishite</option>
                                <option value="Chondathan">Chondathan</option>
                                <option value="Damaran">Damaran</option>
                                <option value="Illuskan">Illuskan</option>
                                <option value="Mulan">Mulan</option>
                                <option value="Rashemi">Rashemi</option>
                                <option value="Shou">Shou</option>
                                <option value="Tethyrian">Tethyrian</option>
                                <option value="Turami">Turami</option>
                                <option value="" disabled>----</option>
                                <option value="Dragonborn">Dragonborn</option>
                                <option value="" disabled>----</option>
                                <option value="Aurak">Aurak</option>
                                <option value="Baaz">Baaz</option>
                                <option value="Bozak">Bozak</option>
                                <option value="Kapak">Kapak</option>
                                <option value="Sivak">Sivak</option>
                                <option value="" disabled>----</option>
                                <option value="Gnome">Gnome</option>
                                <option value="" disabled>----</option>
                                <option value="Forest Gnome">Forest Gnome</option>
                                <option value="Rock Gnome">Rock Gnome</option>
                                <option value="" disabled>----</option>
                                <option value="Half-Elf">Half-Elf</option>
                                <option value="Half-Orc">Half-Orc</option>
                                <option value="Tiefling">Tiefling</option>
                            </select>
                        </div>
                        <div class="form-group col-md-3">
                            <label>Class</label>
                            <select class="form-control" name="char_class" id="char_class">
                                <option value="Barbarian">Barbarian</option>
                                <option value="Bard">Bard</option>
                                <option value="Cleric">Cleric</option>
                                <option value="Druid">Druid</option>
                                <option selected value="Fighter">Fighter</option>
                                <option value="Monk">Monk</option>
                                <option value="Paladin">Paladin</option>
                                <option value="Ranger">Ranger</option>
                                <option value="Rogue">Rogue</option>
                                <option value="Sorcerer">Sorcerer</option>
                                <option value="Warlock">Warlock</option>
                                <option value="Wizard">Wizard</option>
                            </select>
                        </div>
                    </div>
                    <div class="form-row">
                        <div class="form-group col-md-3">
                            <label>Level</label>
                            <input class="form-control" type="number" min="1" max="20" value="{{ character.char_lvl }}" name="char_lvl">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Speed</label>
                            <input class="form-control" type="number" min="5" step="5" value="{{ character.char_speed }}" name="char_speed">
                        </div>
                        <div class="form-group col-md-3">
                            <label>Proficiency</label>
                            <input class="form-control" type="number" min="2" max="6" value="{{ character.char_proficiency }}" name="char_proficiency">
                        </div>
                    </div>
                    <div class="form-group">
                        <label>Alignment</label><br>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="alignment" id="Lawful Good" value="Lawful Good">Lawful Good
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="alignment" id="Neutral Good" value="Neutral Good">Neutral Good
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="alignment" id="Chaotic Good" value="Chaotic Good">Chaotic Good
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="alignment" id="Lawful Neutral" value="Lawful Neutral">Lawful Neutral
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="alignment" id="Neutral" value="Neutral" checked>Neutral
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="alignment" id="Chaotic Neutral" value="Chaotic Neutral">Chaotic Neutral
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="alignment" id="Lawful Evil" value="Lawful Evil">Lawful Evil
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="alignment" id="Neutral Evil" value="Neutral Evil">Neutral Evil
                            </label>
                        </div>
                        <div class="form-check form-check-inline">
                            <label class="form-check-label">
                                <input class="form-check-input" type="radio" name="alignment" id="Chaotic Evil" value="Chaotic Evil">Chaotic Evil 
                            </label>
                        </div><br>
                        <a href="{{ url_for('alignment_details') }}" target="_blank">More Details on Alignments</a><br>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Current Health</label>
                                <input class="form-control" name="curr_health" type="number" min="0" value="{{ character.curr_health }}">                            
                            </div>
                            <div class="form-group col-md-3">
                                <label>Max Health</label>
                                <input class="form-control" name="max_health" type="number" min="0" value="{{ character.max_health }}">
                            </div>
                            <div class="form-group col-md-3">
                                <label>Armor</label>
                                <input class="form-control" name="char_armor" type="number" min="0" value="{{ character.char_armor }}">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label>Strength</label>
                                <input class="form-control" name="char_str" type="number" value="{{ character.char_str }}" min="1" max="30">
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Dexterity</label>
                                <input class="form-control"  name="char_dex" type="number" value="{{ character.char_dex }}" min="1" max="30">
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Constitution</label>
                                <input class="form-control" name="char_const" type="number" value="{{ character.char_const }}" min="1" max="30">
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Intelligence</label>
                                <input class="form-control" name="char_intel" type="number" value="{{ character.char_intel }}" min="1" max="30">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-sm-2">
                                <label>Wisdom</label>
                                <input class="form-control" name="char_wisdom"type="number" value="{{ character.char_wisdom }}" min="1" max="30">
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Charisma</label>
                                <input class="form-control" name="char_charisma"type="number" value="{{ character.char_charisma }}" min="1" max="30">
                            </div>
                            <div class="form-group col-sm-2">
                                <label>Perception</label>
                                <input class="form-control" name="char_perception" type="number" value="{{ character.char_perception }}" min="1" max="30">
                            </div>
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Primary Weapon</label>
                                <input class="form-control" type="text" value="{{ character.char_weap_prim }}" name="char_weap_prim">
                            </div>
                            <div class="form-group col-md-3">
                                <label>What Die?</label>
                                <input class="form-control" type="number" min="4" max="20" value="{{ character.char_weap_prim_die }}" name="char_weap_prim_die">
                            </div>

                            <div class="form-group col-md-3">
                                <label>How Many?</label>
                                <input class="form-control" type="number" min="1" max="10" value="{{ character.char_weap_prim_num }}" name="char_weap_prim_num">
                            </div>                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Secondary Weapon (Optional)</label>
                                {% if character.char_weap_sec != '' %}
                                <input class="form-control" type="text" name="char_weap_sec" value="{{ character.char_weap_sec }}">
                                {% else %}
                                <input class="form-control" type="text" name="char_weap_sec" placeholder="Sword">
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label>What Die?</label>
                                {% if character.char_weap_sec != '' %}
                                <input class="form-control" type="number" min="4" max="20" value="{{ character.char_weap_sec_die }}" name="char_weap_sec_die">
                                {% else %}
                                <input class="form-control" type="number" min="4" max="20" placeholder="4" name="char_weap_sec_die">
                                {% endif %}
                            </div>
                            <div class="form-group col-md-3">
                                <label>How Many?</label>
                                {% if character.char_weap_sec != '' %}
                                <input class="form-control" type="number" min="1" max="10" value="{{ character.char_weap_sec_num }}" name="char_weap_sec_num">
                                {% else %}
                                <input class="form-control" type="number" min="1" max="10" placeholder="1" name="char_weap_sec_num">
                                {% endif %}
                            </div>                            
                        </div>
                        <div class="form-row">
                            <div class="form-group col-md-3">
                                <label>Inventory (Optional)</label>
                                <textarea class="form-control" name="char_inv" rows="4">{{ character.char_inv }}</textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Skills (Optional)</label>
                                <textarea class="form-control" name="char_skills" rows="4">{{ character.char_skills }}</textarea>
                            </div>
                            <div class="form-group col-md-3">
                                <label>Notes (Optional)</label>
                                <textarea class="form-control" name="char_notes" rows="4">{{ character.char_notes }}</textarea>
                            </div>
                        </div>
                        <input class="btn btn-primary" type="submit" value="Update">
                {% endfor %}
                </form>
                    </div>
                    <div class="footer"></div>
            </div>
    </body>
</html>
