<!DOCTYPE html>
<html>
    <head>
        <title>DnD Site</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Welcome to my DnD Site!</h2>
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('create_char') }}">Create Character</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('char_list') }}">My Character Sheets</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{{ url_for('game_list') }}">My Game</a></li>
                    {% if not session.logged_in %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link disabled" href="">Logged in as: {{ session['username'] }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
            <div class="content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% if session.logged_in %}
                    <form action="{{ url_for('create_game') }}" method="POST">
                        <input type="text" name="game_name" value="MyGame"><br>
                        <textarea name="game_notes" rows="7" cols="30">Type any general notes about the game here.</textarea>
                        <input type="submit" value="Create">
                    </form>
                {% endif %}
                <ol class="char_list">
                    <h2>Your Game</h2>
                    {% for game in games %}
                        Owner: {{ game.dm_name }}
                        Name: {{ game.game_name }}
                        Notes: {{ game.game_notes }}<br>
                    <form name="view_game" action="{{ url_for('view_game') }}" method="POST">
                        <input type="hidden" name="game_name" value="{{ game.game_name }}">
                        <input type="hidden" name="dm_name" value="{{ game.dm_name }}">
                        <input type="submit" value="View">
                    </form>
                    <form name="delete_game" action="/delete_game/" method="POST">
                        <input type="hidden" name="game_name" value="{{ game.game_name }}">
                        <input type="hidden" name="dm_name" value="{{ game.dm_name }}">
                        <input type="submit" value="Delete">
                    </form>
                    <h3>Players in Game</h3>
                    <form name="add_to_game" action="/add_player_to_game/" method="POST">
                        <input type="hidden" name="game" value="{{ game.game_name }}">
                        <input type="text" name="author" value="User">
                        <input type="text" name="char_name" value="Character Name">
                        <input type="submit" value="Add">
                    </form>
                    {% endfor %}
                    {% for player in players %}
                        Name: {{ player.char_name }}
                        Race: {{ player.char_race }}
                        Class: {{ player.char_class }}
                        Level: {{ player.char_lvl }}
                        Alignment: {{ player.alignment }}
                        Health: {{ player.curr_health }} / {{ player.max_health }}
                        Primary Weapon: {{ player.char_weap_prim }} Hit Dice: {{ player.char_weap_prim_num }}d{{ player.char_weap_prim_die }}
                        {% if player.char_weap_sec != '' %}
                            Secondary Weapon: {{ player.char_weap_sec }} Hit Dice: {{ player.char_weap_sec_num }}d{{ player.char_weap_sec_die }}
                        {% endif %}
                        Skills: {{ player.char_skills }}
                        <br>
                    {% endfor %}
                 </ol>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
