<!DOCTYPE html>
<html>
    <head>
        <title>DnD Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Welcome to my DnD Site!</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                    <li><a href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li>Logged in as: {{ session['username'] }}</li>
                        <li><a href="{{ url_for('char_list') }}">My Character Sheets</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            <div class="content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                {% if session.logged_in %}
                    <form action="{{ url_for('create_game') }}" method="POST">
                        <input type="text" name="game_name" value="MyGame">
                        <input type="submit" value="Create">
                    </form>
                {% endif %}
                <ol class="char_list">
                    <h2>Your Game</h2>
                    {% for game in games %}
                        Owner: {{ game.dm_name }}
                        Name: {{ game.game_name }}<br>
                    {% endfor %}
                    <h3>Players in Game</h3>
                    <form name="add_to_game" action="/add_to_game/" method="POST">
                        <input type="text" name="author" value="User">
                        <input type="text" name="char_name" value="Character Name">
                        <input type="submit" value="Add">
                    </form>
                    {% for player in players %}
                        Name: {{ player.char_name }}
                        Race: {{ player.char_race }}
                        Class: {{ player.char_class }}
                        Level: {{ player.char_lvl }}
                        Alignment: {{ player.alignment }}
                        Health: {{ player.curr_health }} / {{ player.max_health }}
                        Primary Weapon: {{ player.char_weap_prim }} Hit Dice: {{ player.char_weap_prim_num }}d{{ player.char_weap_prim_die }}
                        {% if player.char_weap_sec != '' %}
                            Secondary Weapon: {{ player.char_weap_sec }} Hit Dice: {{ player.char_weap_sec_num }}d{{ player.char_weap_sec_die }}
                        {% endif %}
                        Skills: {{ player.char_skills }}
                        <br>
                    {% endfor %}
                 </ol>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
