<!DOCTYPE html>
<html>
    <head>
        <title>DnD Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Welcome to my DnD Site!</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li>Logged in as: {{ session['username'] }}</li>
                        <li><a href="{{ url_for('game_list') }}">My Game</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                        <li><a href="{{ url_for('npc_list') }}">NPC List</a></li>
                    {% endif %}
                </ul>
            <div class="content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <ol class="char_list">
                    {% for game in games %}
                    <h2>{{ game.game_name }}</h2>
                    <h3>Players in Game</h3>
                    {% endfor %}
                    {% for player in players %}
                        Name: {{ player.char_name }}
                        Race: {{ player.char_race }}
                        Class: {{ player.char_class }}
                        Level: {{ player.char_lvl }}
                        Alignment: {{ player.alignment }}
                        Health: {{ player.curr_health }} / {{ player.max_health }}
                        Primary Weapon: {{ player.char_weap_prim }} Hit Dice: {{ player.char_weap_prim_num }}d{{ player.char_weap_prim_die }}
                        {% if player.char_weap_sec != '' %}
                            Secondary Weapon: {{ player.char_weap_sec }} Hit Dice: {{ player.char_weap_sec_num }}d{{ player.char_weap_sec_die }}
                        {% endif %}
                        Skills: {{ player.char_skills }}
                        <br>
                    {% endfor %}
                 </ol>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
