<!DOCTYPE html>
<html>
    <head>
        <title>DnD Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Welcome to my DnD Site!</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                    <li><a href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    <li><a href="{{ url_for('mkchar') }}">Character Sheet</a></li>
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            <div class="content"></div>
                <p>Choose from any of the above links:<br>
                The 'Roll Dice' link takes you to a table where you can roll any number of d4s, d6s, d8s, d10s, and/or d20s as you want, with modifiers!<br>
                The Character Sheet link will first ask you to log in if you haven't already, or make an account if you haven't yet. Once you do that, you will be able to view/edit/delete all of the character sheets that you have saved.<br>
            <div class="footer"></div>
        </div>
    </body>
</html>
