<!DOCTYPE html>
<html>
    <head>
        <title>Login Form</title>
        <link rel="stylesheet" href="static/style.css"/>
    </head>
    <body>
        <div>
            <div class="header">
                <h2>Login</h2>
            </div>
            <div class="content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash">
                        {% for message in messages %}
                            {{ message }}
                        {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <form action="/login" method="POST">
                    Username: <input type="text" name="username">
                    Password: <input type="password" name="password">
                    <input type="submit" value="Login">
                </form>
                <form action="/register" method="POST">
                    Username: <input type="text" name="username">
                    Password: <input type="password" name="password">
                    DM Account: <input type="radio" id="True" name="is_dm" value="True">Yes 
                    <input type="radio" name="is_dm" id="False" value="False">No 
                    <input type="submit" value="Register">
                </form>
                <script>
                    document.getElementById("False").checked = True;
                </script>
                <a href="{{ url_for('index') }}">Back to Home</a>
                <h2>User List</h2>
                <ul>
                {% for user in users %}
                    Username: {{ user.username }} Password: {{ user.password }} 
                    {% if user.is_dm == 'True' %}
                        DM Account?: Yes<br>
                    {% else %}
                        DM Account?: No<br>
                    {% endif %}
                {% endfor %}
                </ul>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
