<!DOCTYPE html>
<html>
    <head>
        <title>DnD Dice Roller</title>
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/css/bootstrap.min.css" integrity="sha384-PsH8R72JQ3SOdhVi3uxftmaW6Vc51MKb0q5P2rRUpPvrszuE4W1povHYgTpBfshb" crossorigin="anonymous">
		<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0-beta.2/js/bootstrap.min.js" integrity="sha384-alpBpkh1PFOepccYVYDB4do5UnbKysX5WZXm3XxPqe5iKTfUKjNkCk9SaVuEZflJ" crossorigin="anonymous"></script>
    </head>
    <body>
        <div>
            <div class="header">
                <h2>DnD Dice Roller</h2>
            <nav class="navbar sticky-top navbar-expand-lg navbar-light bg-light">
                <ul class="navbar-nav">
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('index') }}">Home</a></li>
                    <li class="nav-item active"><a class="nav-link" href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('create_char') }}">Create Character</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('char_list') }}">My Character Sheets</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('game_list') }}">My Game</a></li>
                    {% if not session.logged_in %}
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                    <li class="nav-item"><a class="nav-link disabled" href="">Logged in as: {{ session['username'] }}</a></li>
                    <li class="nav-item"><a class="nav-link" href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            </nav>
            </div>
            <div class="content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="alert alert-info" role="alert">
                            {% for message in messages %}
                                {{ message }}
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <table class="table">
                    <form action="/roll_all/" method="POST">
                        <thead> 
                        <tr>
                            <th>Die to Roll</th>
                            <th>Number of Dice</th>
                            <th>Modifier</th>
                            <th>List of Rolls</th>
                            <th>+/-</th>
                            <th>Row Total</th>
                        </tr>
                    </thead>
                    <tbody>
                        <tr>
                            <th scope="row">D4</th>
                            {% if dice_to_roll['4'][0] == 0 %}
                            <td><input class="form-control" type="number" name="d4_rolls" min="0" value="0" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d4_mod" value="0" style="width: 5em;"></td>
                            {% else %}
                            <td><input class="form-control" type="number" name="d4_rolls" min="0" value="{{ dice_to_roll['4'][0] }}" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d4_mod" value="{{ dice_to_roll['4'][1] }}" style="width: 5em;"></td>
                            {% endif %}
                            <td>{{dice_to_roll['4'][2]}}</td>
                            <td>{{dice_to_roll['4'][3]}}</td>
                            <td>{{dice_to_roll['4'][4]}}</td>
                        </tr>
                        <tr>
                            <th scope="row">D6</th>
                            {% if dice_to_roll['6'][0] == 0 %}
                            <td><input class="form-control" type="number" name="d6_rolls" min="0" value="0" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d6_mod" value="0" style="width: 5em;"></td>
                            {% else %}
                            <td><input class="form-control" type="number" name="d6_rolls" min="0" value="{{ dice_to_roll['6'][0] }}" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d6_mod" value="{{ dice_to_roll['6'][1] }}" style="width: 5em;"></td>
                            <td>{{dice_to_roll['6'][2]}}</td>
                            <td>{{dice_to_roll['6'][3]}}</td>
                            <td>{{dice_to_roll['6'][4]}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th scope="row">D8</td>
                            {% if dice_to_roll['8'][0] == 0 %}
                            <td><input class="form-control" type="number" name="d8_rolls" min="0" value="0" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d8_mod" value="0" style="width: 5em;"></td>
                            {% else %}
                            <td><input class="form-control" type="number" name="d8_rolls" min="0" value="{{ dice_to_roll['8'][0] }}" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d8_mod" value="{{ dice_to_roll['8'][1] }}" style="width: 5em;"></td>
                            <td>{{dice_to_roll['8'][2]}}</td>
                            <td>{{dice_to_roll['8'][3]}}</td>
                            <td>{{dice_to_roll['8'][4]}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th scope="row">D10</th>
                            {% if dice_to_roll['10'][0] == 0 %}
                            <td><input class="form-control" type="number" name="d10_rolls" min="0" value="0" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d10_mod" value="0" style="width: 5em;"></td>
                            {% else %}
                            <td><input class="form-control" type="number" name="d10_rolls" min="0" value="{{ dice_to_roll['10'][0] }}" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d10_mod" value="{{ dice_to_roll['10'][1] }}" style="width: 5em;"></td>
                            <td>{{dice_to_roll['10'][2]}}</td>
                            <td>{{dice_to_roll['10'][3]}}</td>
                            <td>{{dice_to_roll['10'][4]}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <th scope="row">D20</th>
                            {% if dice_to_roll['20'][0] == 0 %}
                            <td><input class="form-control" type="number" name="d20_rolls" min="0" value="0" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d20_mod" value="0" style="width: 5em;"></td>
                            {% else %}
                            <td><input class="form-control" type="number" name="d20_rolls" min="0" value="{{ dice_to_roll['20'][0] }}" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="d20_mod" value="{{ dice_to_roll['20'][1] }}" style="width: 5em;"></td>
                            <td>{{dice_to_roll['20'][2]}}</td>
                            <td>{{dice_to_roll['20'][3]}}</td>
                            <td>{{dice_to_roll['20'][4]}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            {% if dice_to_roll[arb_die_val][0] == 0 %}
                            <th scope="row">DX<input class="form-control" type="number" name="DX" min="1" value="1" style="width: 5em;"></th>
                            <td><input class="form-control" type="number" name="dx_rolls" min="0" value="0" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="dx_mod" value="0" style="width: 5em;"></td>
                            {% else %}
                            <th scope="row">DX<input class="form-control" type="number" name="DX" min="1" value="{{ arb_die_val }}" style="width: 5em;"></th>
                            <td><input class="form-control" type="number" name="dx_rolls" min="0" value="{{ dice_to_roll[arb_die_val][0] }}" style="width: 5em;"></td>
                            <td><input class="form-control" type="number" name="dx_mod" value="{{ dice_to_roll[arb_die_val][1] }}" style="width: 5em;"></td>
                            <td>{{dice_to_roll[arb_die_val][2]}}</td>
                            <td>{{dice_to_roll[arb_die_val][3]}}</td>
                            <td>{{dice_to_roll[arb_die_val][4]}}</td>
                            {% endif %}
                        </tr>
                        <tr>
                            <td colspan="2"><a class="btn btn-primary" href="{{ url_for('all_dice') }}">Reset</td>
                            <td colspan="2"><input class="btn btn-primary" type="submit" value="Roll Dice!"></td>
                            <td colspan="2" style="font-weight: bold;">Final Result: {{result}}</td>
                        </tr>
                    <tbody>
                    </form>
                </table>
            </div>
        </div>
    </body>
</html>

