<!DOCTYPE html>
<html>
    <head>
        <title>DnD Dice Roller</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header">
                <h2>DnD Dice Roller</h2>
                  <ul>
                    <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                    <li><a href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li>Logged in as: {{ session['username'] }}</li>
                        <li><a href="{{ url_for('char_list') }}">My Character Sheets</a></li>
                        <li><a href="{{ url_for('game_list') }}">My Game</a></li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                 </ul>
             </div>
            <div class="content">
                {% with messages = get_flashed_messages() %}
                    {% if messages %}
                        <div class="flash">
                            {% for message in messages %}
                                <li>{{ message }}</li>
                            {% endfor %}
                        </div>
                    {% endif %}
                {% endwith %}
                <table>
                    <form action="/roll_all/" method="POST">
                        <tr>
                            <th>Die to Roll</th>
                            <th>Number of Dice</th>
                            <th>Modifier</th>
                            <th>List of Rolls</th>
                            <th>+/-</th>
                            <th>Row Total</th>
                        </tr>
                        <tr>
                            <td>D4</td>
                            <td><input type="number" name="d4_rolls" min="0" value="0" style="width: 3em;"></td>
                            <td><input type="number" name="d4_mod" value="0" style="width: 3em;"></td>
                            <td>{{rolls_d4}}</td>
                            <td>{{mod_d4}}</td>
                            <td>{{d4_tot}}</td>
                        </tr>
                        <tr>
                             <td>D6</td>
                            <td><input type="number" name="d6_rolls" min="0" value="0" style="width: 3em;"></td>
                            <td><input type="number" name="d6_mod" value="0" style="width: 3em;"></td>
                            <td>{{rolls_d6}}</td>
                            <td>{{mod_d6}}</td>
                            <td>{{d6_tot}}</td>
                        </tr>
                        <tr>
                            <td>D8</td>
                            <td><input type="number" name="d8_rolls" min="0" value="0" style="width: 3em;"></td>
                            <td><input type="number" name="d8_mod" value="0" style="width: 3em;"></td>
                            <td>{{rolls_d8}}</td>
                            <td>{{mod_d8}}</td>
                            <td>{{d8_tot}}</td>
                        </tr>
                        <tr>
                            <td>D10</td>
                            <td><input type="number" name="d10_rolls" min="0" value="0" style="width: 3em;"></td>
                            <td><input type="number" name="d10_mod" value="0" style="width: 3em;"></td>
                            <td>{{rolls_d10}}</td>
                            <td>{{mod_d10}}</td>
                            <td>{{d10_tot}}</td>
                        </tr>
                        <tr>
                            <td>D20</td>
                            <td><input type="number" name="d20_rolls" min="0" value="0" style="width: 3em;"></td>
                            <td><input type="number" name="d20_mod" value="0" style="width: 3em;"></td>
                            <td>{{rolls_d20}}</td>
                            <td>{{mod_d20}}</td>
                            <td>{{d20_tot}}</td>
                        </tr>
                        <tr>
                            <td>D<input type="number" name="DX" min="1" value="1" style="width: 2.7em;"></td>
                            <td><input type="number" name="dx_rolls" min="0" value="0" style="width: 3em;"></td>
                            <td><input type="number" name="dx_mod" value="0" style="width: 3em;"></td>
                            <td>{{rolls_dx}}</td>
                            <td>{{mod_dx}}</td>
                            <td>{{dx_tot}}</td>
                        </tr>
                        <tr>
                            <td colspan="2"><input type="submit" value="Reset"></td>
                            <td colspan="2"><input type="submit" value="Roll Dice!"></td>
                            <td colspan="2" style="font-weight: bold;">Final Result: {{result}}</td>
                        </tr>
                    </form>
                </table>
            </div>
        </div>
    </body>
</html>

