<!DOCTYPE html>
<html>
    <head>
        <title>DnD Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Welcome to my DnD Site!</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                    <li><a href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    <li><a href="{{ url_for('mkchar') }}">Character Sheet</a></li>
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            <div class="content">
                {% if session.logged_in %}
                    <form action="{{ url_for('register') }}" method="POST">
                        Username: <input type="text" size="20" name="username">
                        Password: <input type="text" size="20" name="password">
                        <input type="submit" value="Register">
                    </form>
                {% endif %}
                <ul class="user_list">
                    {% for user in entries %}
                        <li>{{ user.username }}, {{ user.password }}<br>
                    {% else %}
                        <li>No users available</li>
                    {% endfor %}
                </ul>
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
