<!DOCTYPE html>
<html>
    <head>
        <title>DnD Site</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Welcome to my DnD Site!</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}" class="active">Home</a></li>
                    <li><a href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    {% if not session.logged_in %}
                        <li><a href="{{ url_for('login') }}">Login</a></li>
                    {% else %}
                        <li>Logged in as: {{ session['username'] }}</li>
                        <li><a href="{{ url_for('logout') }}">Logout</a></li>
                    {% endif %}
                </ul>
            <div class="content">
                <a href="{{ url_for('char_list') }}">Back to List</a><br>
                {% for character in entry %}
                    Character Name: {{ character.char_name }}<br>
                    Race: {{ character.char_race }}<br>
                    Class: {{ character.char_class }}<br>
                    <form name="level_up" action="/level_up/" method="POST">
                        Level: {{ character.char_lvl }}
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <input type="hidden" name="char_lvl" value="{{ character.char_lvl }}">
                        <input type="submit" value="Level Up!">
                    </form>
                    Alignment: {{ character.alignment }}<br>
                    <form name="update_hp" action="/update_hp/" method="POST">
                        Health: 
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <input type="number" name="curr_health" min="0" value="{{ character.curr_health }}">/<input type="number" name="max_health" value="{{ character.max_health }}">
                        <input type="submit" value="Update HP">
                    </form>
                    Armor: {{ character.char_armor }}<br>
                    <form name="roll_str" action="/roll_str/" method="POST">
                        Strenth: {{ character.char_str }}
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <input type="hidden" name="str_val" value="{{ character.char_str }}">
                        <input type="submit" value="Roll Strength">
                        {{ init_str_roll }} {{ mod_str }} {{ str_roll }}<br>
                    </form>
                    <form name="roll_dex" action="/roll_dex/" method="POST">
                        Dexterity: {{ character.char_dex }}
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <input type="hidden" name="dex_val" value="{{ character.char_dex }}">
                        <input type="submit" value="Roll Dexterity">
                        {{ init_dex_roll }} {{ mod_dex }} {{ dex_roll }}<br>
                    </form>
                    <form name="roll_const" action="/roll_const/" method="POST">
                        Constitution: {{ character.char_const }}
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <input type="hidden" name="const_val" value="{{ character.char_const }}">
                        <input type="submit" value="Roll Constitution">
                        {{ init_const_roll }} {{ mod_const }} {{ const_roll }}<br>
                    </form>
                    <form name="roll_intel" action="/roll_intel/" method="POST">
                        Intelligence: {{ character.char_intel }}
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <input type="hidden" name="intel_val" value="{{ character.char_intel }}">
                        <input type="submit" value="Roll Intelligence">
                        {{ init_intel_roll }} {{ mod_intel }} {{ intel_roll }}<br>
                    </form>
                    <form name="roll_wisdom" action="/roll_wisdom/" method="POST">
                        Wisdom: {{ character.char_wisdom }}
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <input type="hidden" name="wisdom_val" value="{{ character.char_wisdom }}">
                        <input type="submit" value="Roll Wisdom">
                        {{ init_wisdom_roll }} {{ mod_wisdom }} {{ wisdom_roll }}<br>
                    </form>
                    <form name="roll_charisma" action="/roll_charisma/" method="POST">
                        Charisma: {{ character.char_charisma }}
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <input type="hidden" name="charisma_val" value="{{ character.char_charisma }}">
                        <input type="submit" value="Roll Charisma">
                        {{ init_charisma_roll }} {{ mod_charisma }} {{ charisma_roll }}<br>
                    </form>
                    Perception: {{ character.char_perception }}<br>                   
                    <form name="update_weapons" action="/update_weapons/" method="POST">
                        Weapons:
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <textarea name="char_weapons" rows="3" cols="30">{{ character.char_weapons }}</textarea>
                        <input type="submit" value="Update Weapons">
                    </form>
                    <form name="update_inv" action="/update_inv/" method="POST">
                        Inventory:
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <textarea name="char_inv" rows="3" cols="30">{{ character.char_inv }}</textarea>
                        <input type="submit" value="Update Inventory">
                    </form>
                    <form name="update_notes" action="/update_notes/" method="POST">
                        Notes:
                        <input type="hidden" name="char_name" value="{{ character.char_name }}">
                        <textarea name="char_notes" rows="3" cols="30">{{ character.char_notes }}</textarea>
                        <input type="submit" value="Update Notes">
                    </form>
                    Skills: {{ character.char_skills }}<br>
                {% endfor %}
            </div>
            <div class="footer"></div>
        </div>
    </body>
</html>
