<!DOCTYPE html>
<html>
    <head>
        <title>DnD Dice Roller</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
            <h2>Arbitrary Die Roller</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    <li><a href="{{ url_for('mkchar') }}">Character Sheet</a></li>
                </ul>
            <div class="content"></div>
            <h3 class="centered">Currently Rolling a D{% print(sides) %}</h3>
                <h3 class="centered">{% print(roll) %}</h3>
                <button type="button" onclick="location.reload()">Roll Again</button>
            <div class="footer"></div>
        </div>
    </body>
</html>
