<!DOCTYPE html>
<html>
    <head>
        <title>DnD Dice Roller</title>
        <link rel="stylesheet" href="static/main.css" type="text/css"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
                <h1>DnD Dice Roller</h1>
            <div class="content"></div>
                <h2>{% print(roll) %}</h2>
                <button type="button" onclick="location.reload()">Roll Again</button>
            <div class="footer"></div>
        </div>
    </body>
</html>
