<!DOCTYPE html>
<html>
    <head>
        <title>Character Sheet</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
                <h2>Character Sheet</h2>
                <ul>
                    <li><a href="{{ url_for('index') }}">Home</a></li>
                    <li><a href="{{ url_for('all_dice') }}">Roll Dice</a></li>
                    <li><a href="{{ url_for('mkchar') }}">Character Sheet</a></li>
                </ul>
            <div class="content"></div>
                <form>
                    Character Name: <input type="text"></input><br>
                    Class: <input type="text"></input><br>
                    Level: <input type="number" min="1" value="1"></input><br>
                    Alignment: <br>
                    <input type="radio" name="alignment" value="lawful_good">Lawful Good<br>
                        <details>
                            <summary>More Details:</summary>
                            <p class="info">Typically acts with compassion and always with honor and a sense of duty. Such characters include righteous knights, paladins, and most dwarves.</p>
                        </details>
                    <input type="radio" name="alignment" value="neutral_good">Neutral Good<br>
                        <details>
                            <summary>More Details:</summary>
                            <p class="info">Typically acts altruistically, without regard for or against lawful precepts such as rules or tradition. A neutral good character has no problems with cooperating with lawful officials, but does not feel beholden to them. In the event that doing the right thing requires the bending or breaking of rules, they do not suffer the same inner conflict that a lawful good character would.</p>
                        </details>
                    <input type="radio" name="alignment" value="chaotic_good">Chaotic Good<br>
                        <details>
                            <summary>More Details:</summary>
                            <p class="info">A chaotic good character does what is necessary to bring about change for the better, disdains bureaucratic organizations that get in the way of social improvement, and places a high value on personal freedom, not only for oneself, but for others as well. Chaotic good characters usually intend to do the right thing, but their methods are generally disorganized and often out of sync with the rest of society.</p>
                        </details>
                    <input type="radio" name="alignment" value="lawful_neutral">Lawful Neutral<br>
                        <details>
                            <summary>More Details:</summary>
                            <p class="info">A lawful neutral character typically believes strongly in lawful concepts such as honor, order, rules, and tradition, and often follows a personal code. Examples of lawful neutral characters include a soldier who always follows orders, a judge or enforcer that adheres mercilessly to the word of the law, and a disciplined monk.</p>
                        </details>
                    <input type="radio" name="alignment" value="neutral">Neutral<br>
                        <details>
                            <summary>More Details:</summary>
                            <p class="info">A neutral character (a.k.a. true neutral) is neutral on both axes and tends not to feel strongly towards any alignment, or actively seeks their balance. Most animals are originally considered true neutral, because they lack the capacity for moral judgment, guided by instinct rather than conscious decision.</p>
                        </details>
                    <input type="radio" name="alignment" value="chaotic_neutral">Chaotic Neutral<br>
                        <details>
                            <summary>More Details:</summary>
                            <p class="info">A chaotic neutral character is an individualist who follows their own heart and generally shirks rules and traditions. Although chaotic neutral characters promote the ideals of freedom, it is their own freedom that comes first; good and evil come second to their need to be free.</p>
                        </details>
                    <input type="radio" name="alignment" value="lawful_evil">Lawful Evil<br>
                        <details>
                            <summary>More Details:</summary>
                            <p class="info">A lawful evil character sees a well-ordered system as being easier to exploit and shows a combination of desirable and undesirable traits. Examples of this alignment include tyrants, devils, and undiscriminating mercenary types who have a strict code of conduct.</p>
                        </details>
                    <input type="radio" name="alignment" value="neutral_evil">Neutral Evil<br>
                        <details>
                            <summary>More Details:</summary>
                            <p class="info">A neutral evil character is typically selfish and has no qualms about turning on allies-of-the-moment, and usually makes allies primarily to further their own goals. A neutral evil character has no compunctions about harming others to get what they want, but neither will they go out of their way to cause carnage or mayhem when they see no direct benefit for themselves. Another valid interpretation of neutral evil holds up evil as an ideal, doing evil for evil's sake and trying to spread its influence.</p>
                        </details>
                    <input type="radio" name="alignment" value="chaotic_evil">Chaotic Evil<br>
                        <details>
                            <summary>More Details:</summary>
                            <p class="info">A chaotic evil character tends to have no respect for rules, other people's lives, or anything but their own desires, which are typically selfish and cruel. They set a high value on personal freedom, but do not have much regard for the lives or freedom of other people. Chaotic evil characters do not work well in groups because they resent being given orders and do not usually behave themselves unless there is no alternative.</p>
                        </details><br>
                    Health: <input type="number" min="0"> / <input type="number"><br>
                    Armor: <input type="number" min="0"></input><br>
                    Strength: <input type="number" value="11"></input><br>
                    Dexterity: <input type="number" value="11"></input><br>
                    Constitution: <input type="number" value="11"></input><br>
                    Intelligence: <input type="number" value="11"></input><br>
                    Wisdom: <input type="number" value="11"></input><br>
                    Charisma: <input type="number" value="11"></input><br>
                    Perception: <input type="number" value="11"></input><br>
                    Weapons: 
                    <textarea rows="5" cols="25"></textarea><br>
                    Skills: 
                    <textarea rows="10" cols="25"></textarea><br>
                    Items: 
                    <textarea rows="10" cols="50"></textarea><br>
                    <input type="submit"></input>
                </form>
            <div class="footer"></div>
        </div>
    </body>
</html>
