<!DOCTYPE html>
<html>
    <head>
        <title>Character Sheet</title>
        <link rel="stylesheet" href="static/main.css" type="text/css"/>
    </head>
    <body>
        <div>
            <div class="header"></div>
                <h1>Character Sheet</h1>
                <ul>
                    <li><a href="{{ url_for('all_dice') }}"><button>Roll Dice</button></a></li>
                    <li><a href="{{ url_for('mkchar') }}"><button>Character Sheet</button></a></li>
                </ul>
            <div class="content"></div>
                <form>
                    <p>Name Character:</p>
                </form>
            <div class="footer"></div>
        </div>
    </body>
</html>
