<!DOCTYPE html>
<html>
    <head>
        <title>DnD Dice Roller</title>
        <link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}"/>
    </head>
    <body>
        <div>
            <div class="header">
                <h2>DnD Multiple Dice Roller</h2>
                <ul>
                    <li><a href="{{ url_for('all_dice') }}"<button>Roll Dice</a></li>
                    <li><a href="{{ url_for('mkchar') }}"<button>Character Sheet</button></a></li>
                </ul>
            </div>
            <div class="content">
                <table>
                    <tr>
                        <th>Die to Roll</th>
                        <th>Number of Dice</th>
                        <th>List of Rolls</th>
                        <th>Result</th>
                        <th>Roll!</th>
                    </tr>
                    <tr>
                        <form action="/d4/" method="POST">
                            <td>D4</td>
                            <td><input type="number" name="rolls" min="1"></td>
                            <td>{{ list_rolls }}</td>
                            <td>{{d4}}</td>
                            <td>
                                 <input name="rolld4" type="submit"></button>
                            </td>
                        </form>
                    </tr>
                    <tr>
                        <form action="/d6/" method="POST">
                             <td>D6</td>
                             <td><input type="number" name="rolls"></td>
                             <td>{{d6}}</td>
                             <td><input name="rolld6" type="submit"></button></td>
                         </form>
                    </tr>
                    <tr>
                         <form action="/d8/" method="POST">
                              <td>D8</td>
                              <td><input type="number" name="rolls"></td>
                              <td>{{d8}}</td>
                              <td><input name="rolld8" type="submit"></button></td>
                         </form>
                    </tr>
                    <tr>
                         <form action="/d10/" method="POST">
                               <td>D10</td>
                               <td><input type="number" name="rolls"></td>
                               <td>{{d10}}</td>
                               <td><input name="rolld10" type="submit"></button></td>
                          </form>
                    </tr>
                    <tr>
                          <form action="/d20/" method="POST">
                                <td>D20</td>
                                <td><input type="number" name="rolls"></td>
                                <td>{{d20}}</td>
                                <td><input name="rolld20" type="submit"></button></td>
                          </form>
                        </tr>
                </table>
            </div>
        </div>
    </body>
</html>

